<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdHwAAm2NH7U4RjmeYsc7q0qFWw9s2jNc</string>
	<key>GCM_SENDER_ID</key>
	<string>479948189947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cluthVscodeVer1</string>
	<key>PROJECT_ID</key>
	<string>clutch-czb3</string>
	<key>STORAGE_BUCKET</key>
	<string>clutch-czb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479948189947:ios:70437612119be26e9c405e</string>
	<key>DATABASE_URL</key>
	<string>https://clutch-czb3-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>